* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* display: flex;
    align-items: center;
    justify-content: center; */
}

#btns-wrapper {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 40px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(72, 68, 68);
  font-size: 60px;
}
.btn:hover {
  color: rgb(239, 231, 143);
}
.btn:active {
  color: rgb(131, 172, 153);
}
